html {
          font-family: sans-serif;
}

h1, h2, h3 {
          font-family: "Oxygen";  /*font importada do google*/
}

.clearfix::after  {
          content:'';
          display:block;
          clear: both;

}

.maxwidth {
          max-width: 1124px;
          margin: auto;
}

.button   {
          display: inline-block;
          padding: .9em 2.5em; /* largura do btn */
          background: #58c4c4;
          border-radius: 5px;
          color: #fff;
          text-decoration: none;

}

.button:hover {
         background: #37a0a0; 
}

.top-header {
          text-align: center;

}

.top-header-logo {
          padding: 0.8em;
}

.top-nav {
          background: #612674;
          text-align: center;
}

.top-nav ul {
          margin:0;
          padding:0;
          list-style-type: none; 
}

.top-nav a {
          color: #FFF;
          text-decoration: none;
          padding: 1em; /* só é aplicado em elemento de blodo, tranf em display */
          display: block;
          
}

.top-nav li:hover {
          background: #7c3792;
          
          
}


.top-content {
          padding: 1em;
          text-align: center;
          background: #f6f6f6;

}

.icon-play {
          width: 6em;
          height: 6em;
          margin: auto;
          display: none;
          

}

.icon-play img {
          max-width: 100%;
          max-height: 100%;
          margin: auto;
          
          

}


.top-content-title {
          color: #612674;
          font-size: 1.375em; /* 22px dividido por 16 px*/
          margin: 1.375em;
}

.top-content-subtitle {
          color: #a87bb7;
          font-size: 1em;
          line-height: 1.5;

}

.middle-content {
          padding: 2em;
          text-align: center;
          background: #f6f6f6;
          
}

.middle-content-title {
          color: #652e78;
          text-transform: uppercase;
          font-size: 1.5em;
          

}

.middle-content p {
          line-height: 1.5;
          color: #351c1c;
          margin-bottom: 2em; 
}

span.icon {
          font-size: 3.5em;
          color: #612674;

}

.main-content {
          padding: 2em;
}

.main-content p {
          line-height: 1.5em;
}

.main-content-article {
          margin-bottom: 3.5em;
}

.main-content-title {
          letter-spacing: .2em;
          text-transform: uppercase;
          color: #652e78;
          font-weight: normal;
          text-align: left;
}

.hidden{
          width: 0; /* hidden criada  p/ esconder texto e ficar somente os ícones */
          height: 0;
          overflow: hidden;
          opacity: 0;
          display: block;
}

.footer {
          background: #25303e;
          color: #83969f;
          text-align: center;
          padding-bottom: 2em;
}

.footer-menu {
          background: #303d4c;
          padding: .5em;
}

.footer-menu li {
          list-style: none;
          margin:0 1em;
          padding: 0;
          display: inline-block;
}

.footer-menu a {
          font-size: 1.1em;
          text-decoration: none;
          color: #FFF;
}



@media screen and (min-width: 48.75em){ /* 780px div por 1em */

          .top-header-logo {
                    float: left;
          }

          .top-nav {
                    background: transparent;
                    
          }

          .top-nav ul {
                    display: block;
                    float: right;
                    margin-top: 35px;
          }

          .top-nav li {
                    display: inline-block;
                    margin:0;
                    padding: 0;

          }

          .top-nav a{
                    color:#713a84;
          } 

          .top-nav a:hover{
                    background:#e7d9fc;
          } 

          .icon-play {
                    display: block;
                    
          
          }
          
          
          
          .top-content {
                    background: #521a66;
          }

          .top-content-title {
                    color: #fff;

          }

          .top-content-subtitle {
                    color: #fff;

          }

          .col-1-4 {
                    width: 44%;
                    margin: 2%;
                    display: inline-block;
                    
          }

          .main-content-article .button {
                    float:right;
          }

          
}


@media screen and (min-width: 62.5em) {
          .top-content {                    
                    background-image: url(../images/bg_topo_1198x670.jpg);
                    background-position: center botton;
                    height: 22em;
                    padding-top: 17em;
                    
          }

          
}

@media screen and (min-width: 74em) {
          .top-content {                    
                    background-image:url(../images/bg_topo_1600x1374.jpg);
                    height: 22em;
                    padding: 17em 15em 10em;
                    background-position: center top;                     
                    
          }

          .col-1-4 {
                    width: 22%;
                    margin: 1%;
                    
                    
          }

          .main-content {
                    padding: 1em;
          }

          .col-1-2 {
                    width: 46%;
                    margin: 1.5%;
                    display: inline-block;
                    
          }

          .main-content-article .button {
                    float:none;
          }


}




